html, body{
  height: 100%;
  width: 100%;
}
body{

  background-color: cornflowerblue;
  display: flex;
  align-items: center;
  justify-content: center;
}


#container img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
#container{
  width: 400px;
  height: 500px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  
}
#container i{
  
  font-size: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) scale(0);
  opacity: 0;
  color: red;
  transition: transform ease 0.7s;
}